<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="sites" *ngIf="siteInfoList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">SiteID</th>
            <th class="h">City</th>
            <th class="h">Country</th>
          </tr>
        </thead>
        <tbody>
          <tr class="todo" (dblclick)="editSite(site)" *ngFor="let site of siteInfoList">
            <ng-container *ngIf="!editSites.includes(site); else editSITE">
              <td>{{site.siteID}}</td>
              <td>{{site.city}}</td>
              <td>{{site.country}}</td>
              </ng-container>
            <ng-template #editSITE>
              <td><input type="text" name ="siteID" id="siteID" (keypress)="submitSite($event,site)" 
                         [(ngModel)]="site.siteID" placeholder="SiteID" class="form-control"></td>
              <td><input type="text" name ="city" id="city" (keypress)="submitSite($event,site)" 
                         [(ngModel)]="site.city" placeholder="City" class="form-control"></td>
              <td><input type="text" name ="country" id="country" (keypress)="submitSite($event,site)" 
                         [(ngModel)]="site.country" placeholder="Country" class="form-control"></td>                          
            </ng-template>
            <td class="o">
              <button class="btn btn-success" (click)="doneSite(site)">
                <i class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="editSite(site)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteSite(site)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table> 
    </div>
    <form>
      <div class="form-row">
        <div class="col-md-5">
          <input type="text" name="siteID" id="siteID" [(ngModel)]="newSiteInfo.siteID" 
                placeholder="SiteID" class="form-control">
        </div>
        <div class="col-md-5">
            <input type="text" name="city" id="city" [(ngModel)]="newSiteInfo.city" 
                  placeholder="City" class="form-control">
        </div>
        <div class="col-md-5">
              <input type="text" name="country" id="country" [(ngModel)]="newSiteInfo.country" 
                    placeholder="Country" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary"(click)="create()">Add</button>
        </div>
   
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
</div>